<html>
    <head>
        <title>
            hello ansible
        </title>

    </head>
    <body>
        <h1> nginx configured to ansible
        </h1>
        <p>
            {{ ansible_managed2 }}
        </p>
    </body>
</html>